.booking-container {
  background: rgba(96, 96, 97, 0.384);
  width: 100%;
  height: 1195px;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 550;
}

.booking-modal {
  background: #ffffff;
  height: 100%;
  width: 100%;
}

.booking-header {
  background: #1D48B7;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  height: 64px;
  padding: 18px;
  align-items: center;
}

.booking-title {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 22px;
}

.booking-title-txt {
  margin-left: 14px;
}

.booking-body {

  padding: 25px;
}

.booking-nav {
  width: 100%;
  display: flex;

  justify-content: space-between;
}

.nav-body {
  color: #1D48B7;
  display: flex;
  flex-direction: column;

}

.nav-indicator {
  margin-top: 20px;
}

.nav-indicator img {
  width: 100%;
}

.group-list {
  width: 100%;
}

.group-list input {
  width: 100%;
  height: 48px;
  border-radius: 5px;
  border: 1px solid #4E4E4E;
  padding: 15px;
  margin: 15px 0;
  font-size: 16px;
}

.booking-fee {
  margin: 10px 0;
}

.booking-amount {
  font-size: 32px;
  color: #1D48B7;
  font-weight: bold;
  margin: 10px 0;

}

.note-info {
  background: #242424;
  border-radius: 5px;
  padding: 16px;
  color: #ffffff;
  border: 1px solid #4E4E4E;
}

.payment-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  align-items: center;
}

.pay-now-btn,
.pay-later-btn {
  width: 211px;
  height: 48px;
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;

}

.pay-later-btn {
  color: #ffffff;
  background: #1D48B7;
  border: 1px solid #4E4E4E;
}

.pay-now-btn {
  color: #1D48B7;
  background: #ffffff;
  border: 1.5px solid #1D48B7;
}

.payment-section {
  padding: 40px 0;
}

.payment-section-title {
  color: #1D48B7;
}

.payment-options {
  margin: 40px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 24px;
  align-items: center;
}
.card-payment {
  height: 100%;
  display: flex;
  align-items: center;
}

.img-sm-width {
  width: 16px;
  margin-right: 10px;
}

.card-service {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
.atm-card {
  border: 1px solid #4E4E4E;
  border-radius: 5px;
  height: 55px;
  display: flex;
  align-items: center;
}
.atm-card img{
  width: 75px;
}

@media only screen and (min-width: 768px) {
  .booking-modal {

    width: 60%;
    position: absolute;
    top: 0px;
    bottom: 0;
    height: fit-content;
  }

  .booking-body {
    display: flex;
    flex-direction: row;
  }

  .book-event-first {
    width: 35%;
    height: 300px;
    display: flex;
  }

  .booking-nav {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .nav-body {
    flex-direction: row;

  }

  .nav-body span {
    margin-left: 5px;
  }

  .book-date-time {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .book-date-time input {
    width: 45%;
  }

  .booking-time {
    display: flex;
    justify-content: flex-end;

  }

  .booking-time .booking-from {
    margin-right: 10px;
  }

  .book-name-email {
    width: 100%;
    display: flex;
    justify-content: space-between;

  }

  .book-name-email .group-list {
    width: 45%;
  }

  .booking-info {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
  }

  .note {
    width: 50%;
  }

  .payment-btn {
    flex-direction: row;
    margin: 40px 0;
  }

  .pay-now-btn {
    margin-left: 15px;
  }
}