@media only screen and (min-width: 768px) {
  /** User avatar and name on header **/
  .dropbtn {
    background-color: #1d48b7;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 70px;
    cursor: pointer;
    text-transform: capitalize;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #1d48b7;
  }

  .user-avatar {
    border: 1px solid #ddd;
    border-radius: 70px;
    padding: 5px;
    width: 70px;
    margin-right: 3px;
    cursor: pointer;
  }

  .user-avatar:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

  /* generic styling for the desktop */
  .d-display-none {
    display: none;
  }

  .d-display {
    display: flex;
  }

  /* display flex for the desktop */
  .d-flex {
    display: flex;
    align-items: center;
  }

  /* .d-btn means desktop buttons */
  .d-btn-pry,
  .d-btn-sec {
    background: #ffffff;
    color: #1d48b7;
    border-radius: 5px;
    padding: 10px 35px;
    border: solid 1.2px;
  }

  .d-btn-pry:hover {
    background: #1d48b7;
    color: #ffffff;
  }

  .d-btn-sec {
    background: #1d48b7;
    color: #ffffff;
  }

  .d-btn-sec:hover {
    color: #1d48b7;
    background: #ffffff;
  }

  /* Header  */
  .header {
    height: 98px;
    padding: 0 60px;
  }

  /* header ends here */

  /* Content wrap */
  .content-wrap {
    top: 88px;
  }

  .center-img {
    width: 360px;
  }

  /* Ends here */
  /* End of generic styling for the desktop */
  /* for the desktop items */
  /* Navigation for desktop */
  .right-menu {
    display: flex;
    align-items: center;
  }

  .right-menu a {
    margin: 0 10px;
  }

  .showcase {
    background: url("../images/desktopbg.png") center center/cover;
    height: 729px;
  }

  .big-text {
    font-size: 48px;
    line-height: 59px;
  }

  .small-text {
    line-height: 39px;
    font-size: 32px;
  }

  .form-bg {
    width: 86%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .icon-input {
    display: flex;
    height: 40px;
    padding: 0;
    margin: 0 10px;
}

.icon-input .react-datepicker__input-container input{
  border: none;
}

  .icon-input input {
    /* width: 60%; */
    font-size: 16px;
  }

  /* the filter text */

  /* the filter icon */

  /* navigation for the desktop */
  .desktop-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  /* links inside the navigation */
  .desktop-nav a {
    font-weight: bold;
    margin: 0 10px;
  }

  .nav-btn {
    color: #000000;
  }

  .page-contents {
    flex-direction: row;
  }

  .page-contents-img img {
    width: 90%;
    margin: auto;
  }

  .about-us {
    align-self: baseline;
    padding: 0 30px;
    width: 70%;
    font-size: 18px;
  }

  /* set the active button to blue */
  .active {
    color: #1d48b7;
  }

  .card-wrapper {
    flex-direction: row;
    padding: 40px 10px;
  }

  .card {
    margin: 15px;
  }

  .services {
    padding: 100px 0;
  }

  .news-offer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .news-offer form {
    display: flex;
    flex-direction: row;
  }

  .input-subscribe {
    width: 370px;
    margin: 0 10px 0 20px;
  }

  .suscribe-btn {
    width: 60%;
    margin: auto;
    padding: 12px 0;
    font-size: 20px;
  }

  .footer-col {
    display: flex;
    justify-content: space-around;
  }

  .footer-col p {
    margin: 0 15px;
  }

  .footer {
    flex-direction: row;
    align-items: center;
  }
}
