* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth
}


/* All mobile screens here */
/* css for homepage mobile */

@import url(./homePageMobile.css);
/* All desktop screen here */
/* css for login and signup page */
@import url(./signup-in.css);
/* css for hompage desktop screen */


/* The links for the footer */



/* End of mobile styles */

/* @media (min-width: 481px) and (max-width: 767px) {} */


/* Styling for the desktop */

@import url(./homePageDesktop.css);