* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}


/* All mobile screens here */
/* css for homepage mobile */

@import url(./homePageMobile.css);
/* All desktop screen here */
/* View single center venet center */
@import url(./viewSingleCenter.css);
/* Addmin add center styles */
@import url(./AddCenters.css);
/* css for login and signup page */
@import url(./signup-in.css);
/* css for hompage desktop screen */
@import url(./customerResultPage.css);
@import url(./AllCenters.css);
@import url(./userProfile.css);
/* The links for the footer */
@import url(./error.css);


/* End of mobile styles */

/* @media (min-width: 481px) and (max-width: 767px) {} */

/* Styling for the desktop */

 @import url(./homePageDesktop.css);

/*admin dashboard */
@import url(./AdminPage.css)